.pedestrian-traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
}

.pedestrian-light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.vertical-pedestrian {
  flex-direction: column;
  width: 80px;
}

.horizontal-pedestrian {
  flex-direction: row;
  height: 80px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;
}

.pedestrian-btn {
  padding: 5px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border:none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}


.pedestrian-btn:hover {
  background-color: #0056b3;
}
