.stats-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    color: black;
    border-radius: 8px;
    min-width: 320px;
    text-align: center;
}

.toggle-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.stats-bar h3 {
    margin-top: 10px;
    font-size: 20px;
}

.stats-bar li {
    font-size: 18px;
}

.stats-bar ul {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 10px;
    list-style-type: none;
}

.stats-bar span {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-stats {
    width: 20px;
    height: 20px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #007bff;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.btn-stats:hover {
    background-color: #0056b3;
}

.stats-bar p {
    margin-bottom: 5px;
    font-size: 20px;
}